/*-------------------------------------------------------------------*/
/*Páxina actividades*/
/*-------------------------------------------------------------------*/
.actividades h1 {
  text-align: center;
}

.actividades-grid {
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
}

.actividades-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.actividades-grid h4,
.actividades-grid p {
  padding: 20px;
  text-align: center;
  color: black;
}

#actividades-grid-1 {
  background-color: #7db61b;
}
#actividades-grid-2 {
  background-color: white;
  border: solid 3px grey;
}
/*#actividades-grid-3 {}*/
#actividades-grid-4 {
  background-color: #feed01;
}
#actividades-grid-5 {
  background-color: #f08a01;
}
/*#actividades-grid-6 {} */
#actividades-grid-7 {
  background-color: white;
  border: solid 3px grey;
}
/*#actividades-grid-8 {} */
#actividades-grid-9 {
  background-color: #feed01;
}
/*#actividades-grid-10 {}*/
#actividades-grid-11 {
  background-color: #7db61b;
}
/*#actividades-grid-12 {}*/
/*#actividades-grid-13 {}*/
#actividades-grid-14 {
  background-color: white;
  border: solid 3px grey;
}
#actividades-grid-15 {
  background-color: #f08a01;
}
#actividades-grid-16 {
  background-color: white;
  border: solid 3px grey;
}
#actividades-grid-17 {
  background-color: #f08a01;;
}
#actividades-grid-18 {
  background-color: #feed01;
}

/*Media queries*/
/*--------------------------*/

@media (max-width: 992px) {
  .actividades-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  @media (max-width: 480px) {
    .actividades-grid {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(9, 1fr);
    }
  }
}
