/*-----------------------------------------------------------------------*/
/*Páxina nós*/
/*-----------------------------------------------------------------------*/
/*Sobre nós*/
.familia {
  padding-top: 50px;
  padding-bottom: 50px;
}

.sobre-nos {
  display: flex;
  flex-direction: row;
  width: 66%;
  gap: 100px;
}

.sobre-nos p {
  flex: 33%;
}

/*Fitos*/
.fitos {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
}

.fitos .titulo2 {
  text-align: center;
}

.search-container {
  display: flex; /* Para alinear input y botón */
  border: 1px solid #ccc;
  border-radius: 20px;
  overflow: hidden;
  width: 300px;
  margin: 20px auto; /* Centrarlo */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#search-input {
  flex-grow: 1; /* Ocupa espacio restante */
  border: none;
  padding: 10px 15px;
  outline: none;
  font-size: 16px;
}

.search-button {
  padding: 10px 15px;
  border: none;
  background-color: #007bff;
  color: white; /* El color del icono será blanco por herencia */
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  display: flex; /* centrar icono */
  align-items: center;
  justify-content: center;
}

.search-button:hover {
  background-color: #0177bf;
}

/* Opcional: Si decides dejar el texto "Buscar" junto al icono, usa esto para espaciarlos */
.search-button i {
  /* margin-right: 5px; */ /* Descomenta si usas texto y necesitas espacio */
}

/* Estilo para el icono (si usas Font Awesome) */
.fa-search {
  /* Puedes añadir más estilos aquí */
}

#bloque {
  padding-top: 30px;
  width: 100%;
}

.borde-fito {
  border-top: 3px solid #0177bf;
  padding: 20px;
  width: 100%;
}

.titulo-fito {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contido-fito {
  width: 66%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: none;
}

.titulo-fito .mas {
  font-size: 50px;
  font-weight: normal;
  color: #0177bf;
  text-align: right;
}

.titulo-fito:hover {
  font-weight: bold;
  cursor: pointer;
}

/*Media queries*/
/*--------------------------*/
@media (max-width: 480px) {
  .familia {
    width: 90%;
    margin-left: 5%;
  }

  .sobre-nos {
    flex-direction: column;
    width: 100%;
    gap: 30px;
  }
}
